<script setup>
defineProps({
  title: {
    type: String,
    required: true,
  },
  description: {
    type: String,
    required: true,
  },
  screenshotFilename: {
    type: String,
    required: true,
  },
  URL: {
    type: String,
    required: true,
  },
  flipped: {
    type: Boolean,
    required: false,
  },
});

const getImageUrl = (name) => {
  //let url = new URL("@/assets/" + name, import.meta.url).href;
  let url = new URL(`../assets/${name}`, import.meta.url).href;
  return url;
};
</script>

<template>
  <div class="flex-container">
    <div class="project-side left">
      <div v-animate-onscroll.repeat="'animated fadeInLeft'" v-if="flipped">
        <a :href="URL" target="_blank" class="project-image-link">
          <Popper hover :content="URL?.length ? 'Click to see source code' : ''">
            <img :src="getImageUrl(screenshotFilename)" class="project-image" />
          </Popper>
        </a>
      </div>
      <div v-animate-onscroll.repeat="'animated fadeInLeft'" v-if="!flipped">
        <div class="project-text">
          <h1 class="project-title">{{ title }}</h1>
          <p class="project-description">
            {{ description }}
          </p>
        </div>
      </div>
    </div>
    <div class="project-side right">
      <div v-animate-onscroll.repeat="'animated fadeInRight'" v-if="flipped">
        <div class="project-text">
          <h1 class="project-title">{{ title }}</h1>
          <p class="project-description">
            {{ description }}
          </p>
        </div>
      </div>
      <div v-animate-onscroll.repeat="'animated fadeInRight'" v-if="!flipped">
        <a :href="URL" target="_blank" class="project-image-link">
          <Popper hover :content="URL?.length ? 'Click to see source code' : ''" >
            <img :src="getImageUrl(screenshotFilename)" class="project-image" />
          </Popper>
        </a>
      </div>
    </div>
  </div>
</template>

<style scoped>
.project-side {
  width: 100% !important;
  text-align: center;
}

.animated {
  height: 100% !important;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  max-width: 95%;
  max-height: 70vh;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5);
  transition: box-shadow 0.5s ease;
}
.project-image:hover {
  box-shadow: 7px 7px 5px rgba(100, 100, 100, 0.7);
}

.project-text {
  padding: 20px;
}

.project-title {
  font-size: 70px;
}
.project-description {
  font-size: 18px;
  font-style: italic;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100% !important;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
</style>
