@import './base.css';

#app {
  max-width: 1280px;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
