<script setup>
import Project from "@/components/Project.vue";
let wdw = window;
import converter from 'number-to-words';
function calculateAge() { // birthday is a date
   var ageDifMs = Date.now() - new Date('January 1, 2017');
   var ageDate = new Date(ageDifMs); // miliseconds from epoch
   return converter.toWords(ageDate.getUTCFullYear() - 1970);
 }
let projects = [
  {
    title: "Spellbinder",
    description:
      "This is a personal project intended to help me sort my Magic The Gathering cards into binders more effectively. It is built with Vue3, Elementjs, Firebase, and Gitlab CI/CD pipelines and hosting.",
    image: "spellbinder.png",
  },
  {
    title: "Flux",
    description:
     "This project is a time-tracking software that has deep integration with Liquid Planner (a project management tool). This is the second iteration of the frontend application. It uses Vue.js, Nuxt, ElementUI, Axios, Sass, and Vuex, among other frontend technologies.",
    image: "Flux_Screenshot.png",
  },
];
</script>

<template>
  <perfect-scrollbar>
    <div class="all-content">
      <div class="header">
        <div class="socials">
          <a href="https://www.linkedin.com/in/nathan-robertus-760728b6/" target="_blank">
            <img src="@/assets/linkedin.svg" class="social-image linkedin" />
          </a>
          <a href="https://twitter.com/nathanrobertus" target="_blank">
            <img src="@/assets/twitter.svg" class="social-image twitter"
          /></a>
        </div>

        <a href="mailto: nathan.robertus@gmail.com" class="contact-link">
          <button class="contact-button">
            <Popper hover content="Send me an email"> Get in touch! </Popper>
          </button>
        </a>
      </div>
      <div class="flex-container">
        <div class="content">
          <h1 class="title">Hi, I'm Nathan</h1>
          <h2 class="subtitle">And I like to make stuff</h2>
          <p class="body">
            I love frontend development, design, working with teams, and having fun at the
            same time.
          </p>
        </div>
        <div class="image">
          <img
            alt="Nathan Robertus Headshot"
            class="headshot"
            src="@/assets/Robertus_Nathan_Headshot.jpg"
          />
        </div>
      </div>
      <div class="spacer"></div>
      <div class="middle-text" v-animate-onscroll.repeat="'animated fadeIn'">
        <p>
          I've developed a lot of projects over the last {{calculateAge()}} years. Here are some of the
          highlights.
        </p>
      </div>
      <div class="spacer"></div>
      <div class="flex-container-projects">
        <div v-for="(project, index) in projects" :key="project.title">
          <Project
            :flipped="index % 2 == 1 && wdw.innerWidth > 800"
            :title="project.title"
            :description="project.description"
            :screenshotFilename="project.image"
            :URL="project.URL"
          />
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</template>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto Mono");
html,
body {
  font-family: "Roboto Mono", sans-serif;
}
::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#app {
  font-family: "Roboto Mono", sans-serif;
  max-width: calc(100vw - 12px) !important;
  overflow-x: hidden !important;
  --popper-theme-background-color: #333333;
  --popper-theme-background-color-hover: #333333;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 8px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}
#app::-webkit-scrollbar {
  display: none;
}
.all-content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-width: calc(100vw - 12px) !important;
  padding: 0px !important;
  margin: 0px !important;
}
/* Flex for top section */
.flex-container {
  display: flex;
  flex-direction: row;
  width: 100vw !important;
  padding: 100px;
}

.header {
  height: 10px;
}

.contact-link {
  z-index: 999;
}

.contact-button {
  background: transparent;
  border: none;
  padding: 12px;
  color: #cbcbcb;
  border-radius: 20px;
  margin: 20px 20px;
  float: right;
  font-size: 17px;
  /*background: linear-gradient(325deg, rgba(135, 0, 140, 1) 0%, rgba(0, 76, 255, 1) 100%);*/
  background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
  transition: background-color 1s;
}

.contact-button:hover {
  background-color: #e91e63;
}

.socials {
  display: flex;
  flex-direction: row;
  margin: 20px;
  float: left;
  z-index: 999;
}
.social-image {
  width: 30px;
  fill: white !important;
  padding: 5px;
}
.linkedin {
  margin-top: -2px;
}

.middle-text {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  padding: 30px 10vw;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    padding: 0px !important;
  }
  .headshot {
    width: 75vw !important;
    height: 75vw !important;
  }
  #app {
    padding: 0px !important;
  }
  .image {
    max-width: 100vw !important;
  }
  .header {
    height: 0px;
  }
  ::-webkit-scrollbar {
    display: none !important;
  }
}
@media (min-width: 800px) {
  .headshot {
    width: 45vw !important;
    height: 45vw !important;
  }
}
.image {
  text-align: center;
  margin: auto;
}
.headshot {
  text-align: center;
  float: right;
  width: 75vh;
  height: 75vh;
  display: block;
  margin: 0 auto 2rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.2);
  transition: box-shadow 0.5s ease;
}
.headshot:hover {
  box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.2);
  transition: box-shadow 0.5s ease;
}

.flex-container-projects {
  display: flex;
  flex-direction: column;
}

.spacer {
  width: 100%;
}
.content {
  padding: 90px 50px;
}
.title {
  font-size: 50px;
}
.subtitle {
  font-size: 35px;
}
.body {
  font-size: 20px;
}
</style>
